*{
    margin: 0.5em 1em 1em;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    margin: 2em 1em 0.5em;
}

ul{
    list-style-type: none;
}

.hue-btn{
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    margin: 10px;
    padding: 8px 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hue-btn:hover {
    background-color: #555;
    color: #fff;
  }

img{
    max-height: 20em;
    max-width: 80%;
}

/* .color {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
  } */

  .color-palette {
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
    justify-content: center;
    margin-top: 20px;
  }
  
  .color {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .color-text {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
  }
  