*{
    margin: 0.5em 1em 1em;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    margin: 2em 1em 0.5em;
}

.hue-btn{
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    margin: 10px;
    padding: 8px 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hue-btn:hover {
    background-color: #555;
    color: #fff;
  }